name: .NET Core CI

on:
  push:
    branches: [ "main", "develop" ] # Chạy khi push code lên 2 nhánh này
  pull_request:
    branches: [ "main" ]         # Chạy khi tạo Pull Request vào main

jobs:
  build:
    runs-on: ubuntu-latest # Sử dụng máy ảo Linux để build cho nhẹ và nhanh

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x' # Hoặc version bạn đang dùng

      # SỬA LỖI Ở ĐÂY: Thêm 'FPRDB/' vào trước tên file
      - name: Restore dependencies
        run: dotnet restore FPRDB/FPRDB.sln 

      - name: Build
        run: dotnet build FPRDB/FPRDB.sln --no-restore --configuration Release

      # Với Test, chạy thẳng trên file Solution luôn, nó sẽ tự tìm project UnitTestProject1 để chạy
      - name: Test
        run: dotnet test FPRDB/FPRDB.sln --no-build --verbosity normal